
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #0E2438
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background: url(../img/bg.png) no-repeat center top /cover;
	background-color: rgba(20, 48, 74, 0.5);
	background-blend-mode: hard-light;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	margin-bottom: 106px;
	align-items: center;
}

.menu-call-btn {
	width: 198px;
	height: 47px;
	font-size: 16px;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	text-transform: uppercase;
	background: none;
	color: white;
	cursor: pointer;
}

.border {
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

.border p {
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	text-align: center;
}

.logo-profession {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 300;
	Letter-spacing:  1px;
	text-transform: uppercase;
	color: white;
	text-align: center;
}

.menu-phone {
	text-transform: uppercase;
	color: white;
	text-align: right;
	letter-spacing: 1px;
}

.menu-phone p:last-child {
	font-size: 25px;
	color: white;
}

.main-cover h1 {
	text-align: center;
	color: white;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}

.big-word {
	font-size: 81px;
	letter-spacing: 3px;
}

.main-cover h2 {
	text-align: center;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
	width: 1000px;
	margin: 63px auto 67px auto;
	line-height: 38px;
}

.benefits {
	width: 620px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto 117px auto;
}

.benefits img {
	margin-right: 21px;
}

.benefits-number {
	display: flex;
	align-items: center;
}

.benefits-number:first-child {
	margin-bottom: 40px;
}

.benefits-number:nth-child(2) {
	margin-bottom: 40px;
}

.benefits p {
	font-size: 18px;
	color: white;
}

.order-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.order-btn {
	width: 400px;
	height: 65px;
	background: #62E710;
	border-radius: 50px 5px;
	box-shadow: 0 0 25px #62E710;
}

.order-btn p {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #2c2c2c;
}

.free {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 20px;
	font-weight: 300;
	margin-bottom: 60px;
}

aside {
	color: white;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: absolute;
	top: 583px;
	left: 40px;

}

aside p {
	margin: 0 auto 40px auto;
	width: 17px;
	font-size: 18px;
	word-wrap: break-word;
	line-height: 20px;
}

aside a {
	margin-top: 20px;
}

@media (max-width: 767px) {
	.container {
		max-width: 300px;
	}

	.header {
	background: url(../img/bg_mobile.png) no-repeat center top /cover;
	}

	.menu {
		padding-top: 15px;
		margin-bottom: 50px;
	}

	.menu-call-btn {
		width: 78px;
		height: 18px;
		border: .5px solid white;
		font-size: 30%;
		border-radius: 4px;
	}

	.border {
		padding-bottom: 1px;
		border-bottom: .5px solid #fff;
	}

	.border p {
		font-size: 6px;
	}

	.logo-profession {
		margin-top: 2px;
		font-size: 25%;
		Letter-spacing: .2px;
	}

	.menu-phone {
		letter-spacing: .2px;
		font-size: 30%;
	}

	.menu-phone p:last-child {
		font-size: 8px;
	}

	.main-cover h1 { 
		font-size: 15px;
		letter-spacing: 1px;
	}

	.big-word {
		font-size: 24px;
		letter-spacing: 1px;
	}

	.main-cover h2 {
		font-size: 10px;
		width: 300px;
		margin: 25px auto 56px auto;
		line-height: 18px;
	}

	.benefits {
		width: 300px;
		margin: 0 auto 40px auto;
	}

	.benefits img {
		width: 40%;
		height:  40%;
		margin-right: 0px;
	}

	.benefits-number:first-child {
		margin-bottom: 0px;
	}

	.benefits-number:nth-child(2) {
		margin-bottom: 0px;
	}

	.benefits p {
		font-size: 8px;
		line-height: 10px;
	}

	.order-btn {
		width: 216px;
		height: 34px;
		border-radius: 27px 3px;
	}

	.order-btn p {
		font-size: 10px;
	}

	.free {
		font-size: 11px;
		letter-spacing: .5px;
		margin-top: 11px;
		margin-bottom: 18px;
	}

	aside {
		position: relative;
		left: 0;
		top: 0;
		display: block;
		padding-bottom: 40px;
		margin-top: 20px;
	}

	aside p {
		width: 100px;
		font-size: 10px;
		letter-spacing: 1.5px;
		margin-bottom: 2px;
	}

	aside a {
		margin-top: 0;
		margin-right: 10px;
	}

	aside a:last-child {
		margin-right: 0px;
	}

	aside img {
		width: 20px;
		height: 20px;
	}
}